<launch>
    <arg name="serial_no"             default=""/>
    <arg name="json_file_path"        default=""/>
    <arg name="camera"                default="camera"/>
    <arg name="img_width"                default="848"/>
    <arg name="img_height"                default="480"/>

    <arg name="marker_size" default='7.3'/>

    <group ns="$(arg camera)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="stereo_module/exposure/1"  default="7500"/>
            <arg name="stereo_module/gain/1"      default="16"/>
            <arg name="stereo_module/exposure/2"  default="1"/>
            <arg name="stereo_module/gain/2"      default="16"/>

            <arg name="depth_width"       value="$(arg img_width)"/>
            <arg name="depth_height"      value="$(arg img_height)"/>
            <arg name="depth_fps"         value="30"/>
            <arg name="color_width"       value="$(arg img_width)"/>
            <arg name="color_height"      value="$(arg img_height)"/>
            <arg name="color_fps"         value="30"/>
            <arg name="enable_depth"      value="true"/>
            <arg name="enable_color"      value="true"/>
            <arg name="enable_infra1"     value="false"/>
            <arg name="enable_infra2"     value="false"/>
            <arg name="enable_fisheye"    value="false"/>
            <arg name="enable_gyro"       value="false"/>
            <arg name="enable_accel"      value="false"/>
            <arg name="enable_pointcloud" value="true"/>
            <arg name="enable_sync"       value="true"/>
            <arg name="align_depth"       value="true"/>
        </include>
    </group>

    <node pkg="translate_coords" type="cam_transform.py" name="tf_cam_broadcast" args="_tf_pos:=[0.0,1.5,3.1] _tf_rot:=[-90.0,0.0,90.0] _world_frame:='map' _cam_frame:='_link'"/>

    <node pkg="tango_tracker" type="tango_tracker.py" name="tracker" args="_show_ui:=True _marker_size:=$(arg marker_size)" required="true"/>

    <node pkg="translate_coords" type="cam_to_depthcoords.py" name="camtodepth" required="true">
        <remap from="input_coords" to="/position_2d"/>
    </node>

    <node pkg="translate_coords" type="depth_to_mapcoords.py" name="depthtomap" required="true" args="_world_frame:='map' _cam_frame:='_link'"/>

</launch>